@import "/src/variables";

mat-toolbar {
  position: relative;
}

.sidenav {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}

.selected-menu-item {
  background-color: $main-color;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.selected-menu-item:hover {
  background-color: $main-color-light;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


.page-title-header {
  background-color: white;

  padding: 5px 10px 1px 10px;

  h2,
  h3,
  h4,
  h5 {
    color: $main-color;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 5px;
  }
}
